/* ZINE-CONTAINER STUFF */
.zine-container{
    position: absolute;
    display: inline-block;

    width: 100px;
    height: 75px;

    background-color: red;
    border-style: solid;
}


/*.zine-container.activated, .zine-container.zoomed{
    width: 120px;
}*/

.zine-container.activated, .zine-container.zoomed{
    z-index:5;

    /*turn off transitions*/
    /* ACTIVE: I've done this so that css values are always up-to-date when repositioning */
    /* ZOOMED: so that panning is clearer */
    -webkit-transition: none;
    transition: none;
}

.zine-container,
.zine-container.deactived, .zine-container.deactivating,
.zine-container.activating, .zine-container.zooming{
    /* turn on transitions while transitioning! */
    transition:-webkit-transform 1s ease-in-out,z-index 1s ease-in-out,top 0.5s ease-in-out, left 0.5s ease-in-out;
    transition:transform 1s ease-in-out,z-index 1s ease-in-out,top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.zine-container.deactivating, .zine-container.deactivated{
    z-index: 0;
}
.zine-container.activating, .zine-container.activated, .zine-container.zooming, .zine-container.zoomed{
    /* don't know if zoomed needs this? does active? */
    z-index: 5;
}

.nav{
    display: none;
}
/*.nav.active{
    display: block;
    width: 10px;
    height: 90%;
    background-color:blue;
}*/
.nav.left{
    float:left;
}
.nav.right{
    float:right;
}


/* ZINE STUFF */

.zine{
    transition: margin-left 1s ease;
}

.zine .page{
    background-size: contain;
    background-color: white;
    /* need width and height for background image to display */
    width: 100px;
    height: 75px;
}

/* FLEX-BOX POSITIONING STUFF */

.flex-container {
    position: relative;
    padding: 0;
    /*margin: 10% 5%;*/
    /* margin: 10px 20px; */
    list-style: none;
    overflow: hidden;
 
    height: 100%;
    width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item {
    background: LightGray;
    /*.position() doesn't account for padding/margin so bail on that*/
    /* padding: 5px; */
    margin: 5px;
    
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-style: dotted;
}

/* this enables us to set child element to heights wrt window */
html, body {
    height: 100%;
    margin: 0px;
}


/* DEBUGGING STUFF */
.activated{
    background-color:yellow;
}
.activating{
    background-color:orange
}
.zoomed{
    background-color:green;
}
.zooming{
    background-color:LightGreen;
}
.deactivated{
    background-color:tomato;
}
.inactive{
    background-color:tomato;
}
.green{
    background-color:green;
}
.red{
    background-color:red;
}
.blue{
    background-color:blue;
}

body{
    background-color:blue;
}