<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="noie"> <!--<![endif]-->
<head>
{% load staticfiles %}
<!-- add homepage static files -->
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/style.css' %}" />
<script type="text/javascript" src="{% static 'homepage/js/all.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/onepage-scroll.css' %}" />

<!-- TO DO: make these IF each app exists -->
<!-- add container static files -->
<link rel="stylesheet" type="text/css" href="{% static 'container/css/jquery.ui.container.css' %}" />

<!-- add zineapp static files -->
<!-- Find some way to cut down on all these DOM requests (combine some?) -->
<link type="text/css" rel="stylesheet" href="{% static 'zineapp/css/jquery.ui.css' %}"></link>
<link type="text/css" rel="stylesheet" href="{% static 'zineapp/css/default.css' %}"></link>
<link type="text/css" rel="stylesheet" href="{% static 'zineapp/css/zine.css' %}"></link>
<script type="text/javascript" src="{% static 'zineapp/lib/hash.js' %}"></script>
<script type="text/javascript" src="{% static 'zineapp/lib/turn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'zineapp/lib/zoom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'zineapp/lib/bookshelf.js' %}"></script>
<script type="text/javascript" src="{% static 'zineapp/lib/zine.js' %}"></script>
</head>

<body>
<!-- facebook sdk -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1567562530189576&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="main">
<!-- my template main content -->
{% for scrollpage in homepage.sorted_scrollpage_set %}
    <!-- <div id="{{ scollpage.name }}" class="section" style="background-color: {{ scrollpage.bg_colour }}"> -->
    <section>
         <!--<div class="content centred"> -->
            <!-- {{ scrollpage.name }} -->
            <!-- insert any containers -->
            {% if scrollpage.container_set.exists %}
                {% with scrollpage.container_set.all|first as container %}
                    {% include "container/index.html" with container=container %}
                {% endwith %}
            {% endif %}
            <!-- insert any  ZineApps-->
            {% if scrollpage.zineapp_set.exists %}
                {% with scrollpage.zineapp_set.all|first as zineapp %}
                    {% include "zineapp/index.html" with zines=zineapp.sorted_zine_set %}
                {% endwith %}
            {% endif %}
        <!-- </div> -->
    </section>
    <!-- </div> -->
{% endfor %}
</div>

<!-- include footer scripts -->
<!-- <script src="{% static "homepage/js/footerScripts.js" %}"></script> -->
<script type="text/javascript">
$.getScript("{% static 'homepage/js/jquery.onepage-scroll.min.js' %}", function( data, textStatus, jqxhr ) {
    $(".main").onepage_scroll({
        loop: false,
    });
});
$("<link/>", {
  rel: "stylesheet",
  type: "text/css",
  href: "{% static 'container/css/style.css' %}"
}).appendTo("head");
</script>

</body>
</html>