{% load staticfiles %}
{% load static %}

<script type="text/javascript">
(function($) {
    media_path = '{% get_media_prefix %}';
    samples = {
        {% for zine in zines %}
            '{{ zine.slug }}': {
                'path': media_path + '{{ zine.rel_path }}',
                'pages': {{ zine.page_count }},
            },
        {% endfor %}
    };
    options = {'samples': samples};
    buildBookshelf(options);
})(jQuery)
</script>

<style type="text/css">
.splash{background:url("{% static 'zineapp/pics/splash-bg.jpg'%}") bottom left repeat-x;}
.icon{background-image:url("{% static 'zineapp/pics/new-sprites.png'%}");}
/*.bookshelf .shelf .row-1:after,*/
.bookshelf .shelf .row-2:after{
    background:url("{% static 'zineapp/pics/wall-bookshelf.png'%}");
}
.sample .loader i{
    background:white url("{% static 'zineapp/pics/loader.gif'%}") 4px 4px no-repeat;}
.loader{
    background-image: url("{% static 'zineapp/pics/loader.gif'%}");
}
.sam-test .previous-button-hover,
.sam-test .previous-button-down,
.sam-test .next-button-hover,
.sam-test .next-button-down{
    background-image:url("{% static 'zineapp/pics/arrows.png'%}");
}

.details .tabs ul{display: none;};
</style>

<div class="splash">
    <div class="center">
        <div class="details">
            SKIN DEEP ZINES
            <div class="tabs">
                <ul>
                {% for zine in zines %}
                    <li><a href="#{{ zine.slug }}"></a></li>
                {% endfor %}
                </ul>
                {% for zine in zines %}
                    <div id="{{ zine.slug }}">
                        <h1>{{ zine.title }}</h1>
                        {{ zine.description }}
                    </div>
                {% endfor %}
            </div>
            someday soon you will be able to visit our <a href="">online articles</a>...
        </div>

        <div class="bookshelf">
            <div class="shelf">
                <div class="row-1">
                    <div class="loc">
                    </div>
                </div>
                <div class="row-2">
                    <div class="loc">
                        {% for zine in zines %}
                            <div> <div class="sample {{ zine.slug }}-thumb" sample="{{ zine.slug }}"></div> </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    <!-- Samples-->
        <div class="samples">
            <div class="bar">
                <div class="share">
                    <i class="icon table-contents" title="Table of contents"></i>
                    <i class="icon zoom-in" title="Zoom in"></i>
                    <i class="icon share-facebook" title="Share on facebook"></i>
                    <i class="icon share-twitter" title="Share on Twitter"></i>
                    <i class="icon share-plus" title="Share on G+"></i>
                    <i class="icon share-pinterest" title="Share on Pinterest"></i>
                </div>
                <a class="icon quit"></a>
            </div>
            <div id="book-wrapper">
                <div id="book-zoom"></div>
            </div>
            <div id="slider-bar" class="turnjs-slider">
                <div id="slider"></div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $(".tabs").tabs({
           heightStyle:"fill",
           collapsible:true,
           show:"slideDown",
           active:false, // initially no tabs active
        });
        $(".sample")
            .mouseenter(function(){
                $('.details .tabs').tabs("option", "active", $(this).parent().index());
            })
            .mouseleave(function(){
                $('.details .tabs').tabs("option", "active", false);
            });
    });
})(jQuery);
</script>