{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'zineapp/css/style.css' %}" />

<script type="text/javascript">
(function($) {
    samples = {
        {% for zine in zines %}
            '{{ zine.slug }}': {
                'path': '{{ zine.rel_url }}',
                'pages': {{ zine.page_count }},
            },
        {% endfor %}
    };
    options = {'samples': samples};
    buildBookshelf(options);
})(jQuery)
</script>

<style type="text/css">
.splash{background:url("{% static 'zineapp/pics/splash-bg.jpg'%}") bottom left repeat-x;}
.icon{background-image:url("{% static 'zineapp/pics/new-sprites.png'%}");}
/*.bookshelf .shelf .row-1:after,*/
.bookshelf .shelf .row-2:after{
    background:url("{% static 'zineapp/pics/wall-bookshelf.png'%}");
}
.sample .loader i{
    background:white url("{% static 'zineapp/pics/loader.gif'%}") 4px 4px no-repeat;}
.loader{
    background-image: url("{% static 'zineapp/pics/loader.gif'%}");
}
.sam-test .previous-button-hover,
.sam-test .previous-button-down,
.sam-test .next-button-hover,
.sam-test .next-button-down{
    background-image:url("{% static 'zineapp/pics/arrows.png'%}");
}

.details .tabs ul{display: none;};
</style>

<section id="main" class="wrapper">
<div class="splash">
        <div class="container center">
            <div class="row">
                <section class="feature 6u 12u$(small) details">
                    SKIN DEEP ZINES
                    <div class="tabs">
                        <ul>
                        {% for zine in zines %}
                            <li><a href="#{{ zine.slug }}"></a></li>
                        {% endfor %}
                        </ul>
                        {% for zine in zines %}
                            <div id="{{ zine.slug }}">
                                <h1>{{ zine.title }}</h1>
                                {{ zine.description }}
                            </div>
                        {% endfor %}
                    </div>
                    someday soon you will be able to visit our <a href="">online articles</a>...
                </section>
                <section id="zine-shelf" class="feature 6u 12u$(small)">
                    <div class="bookshelf">
                    <div class="carousel-viewport">
                      <div class="carousel-container centered">
                        <div id="carousel">
                            {% for zine in zines %}
                                <figure class="sample {{ zine.slug }}-thumb" sample="{{ zine.slug }}"></figure>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                    <p id="navigation">
                        <button id="previous" data-increment="-1">Previous</button>
                        <button id="next" data-increment="1">Next</button>
                    </p>
                    <p>
                        <button id="toggle-axis">Toggle Carousel Axis</button>
                    </p>
                    <p>
                    <button id="toggle-backface-visibility">Toggle Backface Visibility</button>
                    </p>
                    </div>
                <!-- Samples-->
                    <div class="samples">
                        <div class="bar">
                            <div class="share">
                                <i class="icon table-contents" title="Table of contents"></i>
                                <i class="icon zoom-in" title="Zoom in"></i>
                                <i class="icon share-facebook" title="Share on facebook"></i>
                                <i class="icon share-twitter" title="Share on Twitter"></i>
                                <i class="icon share-plus" title="Share on G+"></i>
                                <i class="icon share-pinterest" title="Share on Pinterest"></i>
                            </div>
                            <a class="icon quit"></a>
                        </div>
                        <div id="book-wrapper">
                            <div id="book-zoom"></div>
                        </div>
                        <div id="slider-bar" class="turnjs-slider">
                            <div id="slider"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    <!-- </div> -->
</div>
</section>
<script type="text/javascript" src="{% static 'zineapp/lib/utils.js' %}"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $(".tabs").tabs({
           heightStyle:"fill",
           collapsible:true,
           show:"fadeIn",
           active:false, // initially no tabs active
        });
        $(".sample")
            .mouseenter(function(){
                $('.details .tabs').tabs("option", "active", $(this).parent().index());
            })
            .mouseleave(function(){
                $('.details .tabs').tabs("option", "active", false);
            });
    });
    $(window).keydown(function(e){
        // left arrow
        if ((e.keyCode || e.which) == 37)
        {   
            $('#previous').click();
        }
        // right arrow
        if ((e.keyCode || e.which) == 39)
        {
            $('#next').click();
        }   
    });
})(jQuery);
</script>