{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'container/css/jquery.ui.container.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'container/css/style.css' %} />-->
<div id="{{ container.slugify_title }}" class="tabs">
    <ul>
        {% for tab in container.sorted_tab_set %}
            <li><a href="#{{ tab.slugify_keyword }}">{{ tab.keyword }}</a></li>
        {% endfor %}
    </ul>

    {% for tab in container.sorted_tab_set %}
        <div id="{{ tab.slugify_keyword }}">
            {% if tab.article %}
                <h4>{{ tab.article.title }}</h4>
                <h5>{{ tab.article.subtitle}}</h5>
                {{ tab.article.content |safe }}
            {% elif tab.category %}
                {% for article in tab.sorted_article_set %}
                    <h4>{{ article.title }}</h4>
                    <h5>{{ article.subtitle}}</h5>
                    {{ article.content |safe }}
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $("#{{ container.slugify_title }}").tabs({
           heightStyle:"fill",
           collapsible:true,
           hide:"slideUp",
            show:"slideDown"
        });
    });
})(jQuery);
</script>