<section id="one" class="wrapper align-center">
<div id="{{ container.slugify_title }}">
    {% if container.sorted_tab_set|length > 1 %}
    <ul>
        {% for tab in container.sorted_tab_set %}
            <li><a href="#{{ tab.slugify_keyword }}">{{ tab.keyword }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for tab in container.sorted_tab_set %}
        <div id="{{ tab.slugify_keyword }}">
            {% if tab.article %}
                    <!-- <h4>{{ tab.article.title }}</h4> -->
                    <!-- <h5>{{ tab.article.subtitle}}</h5> -->
                    {{ tab.article.full_content |safe }}
            {% elif tab.category %}
                <div class="container">
                     <div class="row 200%">
                        {% for article in tab.sorted_article_set %}
                         <section class="{% widthratio 12 tab.column_count 1 %}u 12u$(small)">
                                <!-- <h4>{{ article.title }}</h4> -->
                                <!-- <h5>{{ article.subtitle}}</h5> -->
                                {{ article.full_content |safe }}
                        </section>
                        {% endfor %}
                    <!-- </div> -->
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
</section>

{% if container.sorted_tab_set|length > 1 %}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $("#{{ container.slugify_title }}").tabs({
           heightStyle:"fill",
           // collapsible:true,
           hide:"fadeOut",
           show:"fadeIn"
        });
        $('.tabs').width('100%');
    });
})(jQuery);
</script>
{% endif %}